
  <% if @student == nil %>
    <h3> <%= link_to "Please assign students to the assignment before adding grades", assignment_path(@assignment) %> </h3>
  <%else%>
    <h3><%= form_for :grade do |f|%>
      <% @student.each do |s|%>
        <%= f.label :student_id, s.student_name%>
          <%= f.hidden_field :student_id, :value => s.id, multiple: true %>
          <%= f.number_field :grade, min: 0, max: 100 , required:true, multiple: true%>
          <%= f.hidden_field :assignment_id, :value => @assignment_id %>
        <%end%>
    <%= f.submit "Submit"%></h3>
  <%end%>
<% end %>