assignment.show.html.erb

<h1><%= @assignment.assignment_name%></h1> 

  <% if @student.empty?%>
    <h3>No Students Assigned</h3>
  <%else%>
    <% @student.each do |s|%>
    <li><%= "#{s.student_name}"%></li>
      <% @assign_grade.each do |g|%>
        <% if s.id == g.student_id%>
          <li><%"#{g.grade}"%>
        <%end%>
      <%end%>
    <%end%>
  <%end%>


<%= link_to "Edit Assignment", edit_assignment_path%>
<%= link_to "Delete", @assignment, method: :delete, data: { confirm: "Really?" } %>
<%= link_to "Assign to Students", new_grade_path(@assignment)%>
<%= link_to "Add Grades", edit_grade_path(@assignment)%>