<h3>
<%= form_for :student_period do |f|%>


  <%= f.hidden_field :period_id, :value => @period_id %>

  <%= f.label :student_id, "Select Students" %>
  <%= f.select :student_id, options_from_collection_for_select(@student, :id, :student_name), {}, {:multiple => true}%>
  
  <%= f.submit "Submit"%>
 
<%end%>
</h3>