<h3>
  <%= link_to "Add Assignment", new_period_assignment_path(@period)%>
  <%= link_to "Add Students", new_period_student_period_path(@period) %>
  <%= link_to "Remove Students", edit_student_period_path(@period) %>
  <%= link_to "Edit", edit_period_path(@period)%>
  <%= link_to "Delete", @period, method: :delete, data: { confirm: "Really?" } %>
</h3>
