<h1><%= @period.period_name%></h1>


  <% @student.each do |s|%>
  <li><%= "#{s.student_name}"%></li>
  <%end%>



<%= link_to "Add students", new_student_period_path(@period) %>
<%= link_to "Edit", edit_period_path(@period)%>
<%= link_to "Delete", @period, method: :delete, data: { confirm: "Really?" } %>