<h1><%= @period.period_name%></h1>


<%if @student == nil %>
  <%student_path%>
<%else%>
  <% @students.each do |s|%>
  <li><%= link_to "#{s.student_name}", students_path(s) %></li>
  <%end%>
<%end%>


<%= link_to "Add Student", new_student_path%>
<%= link_to "Edit", edit_period_path(@period)%>
<%= link_to "Delete", @period, method: :delete, data: { confirm: "Really?" } %>