
<header>
  <div class='container'>
    <h1>Grasses</h1>
    <nav>
      <ul>
        <% if current_user.nil?%>
        <li><%= link_to "Sign Up" , signup_path%></li>
        <li><%= link_to "Log In" , login_path%></li>
        <li><%= link_to "Log In with Google", '/auth/google_oauth2', method: :post %></li>
        <% else%>


        <div class="dropdown">
          <button class="dropbtn">Classes</button>
            <div class="dropdown-content">
              <%= link_to "All Classes", user_periods_path(current_user) %>
              <%= link_to "Create Class", new_period_path%>
              <!--<%= link_to "All User Classes", users_path%>-->
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Students</button>
            <div class="dropdown-content">
              <%= link_to "Students", students_path(current_user) %> 
              <%= link_to "Create Student", new_student_path%>
            </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Assignments</button>
            <div class="dropdown-content">
            <%= link_to "Assignments", assignments_path(current_user) %>
          </div>
        </div>

        
        <div class="dropdown">
          <button class="dropbtn">Account</button>
            <div class="dropdown-content">
            <%= link_to "Logout", logout_path, method:"delete"%>
          </div>
        </div>

        <%end%>
      </ul>
    </nav>
  </div>
</header>