<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <% if logged_in?%>
      <%= link_to "logout", logout_path method: delete%>
      <% else%>
      <%= link_to "Sign Up Here" , signup_path%>
      <%= link_to "Log In Here" , login_path%>
      <%end%>
    </div>
  </body>
</html>
