<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div>
      <% if current_user.nil?%>
      <%= link_to "Sign Up" , signup_path%>
      <%= link_to "Log In" , login_path%>
      <% else%>
      <%= link_to "Add Class", new_period_path%>
      <%= link_to "All Classes", periods_path %>
      <%= link_to "Edit Classes", edit_period_path(:id)%> 
      <%= link_to "My Classes", user_periods_path(current_user) %>  
      <%= link_to "Home", user_path(current_user)%> 
      <%= link_to "Logout", logout_path, method:"delete"%>
      <%end%>
    </div>
  </body>
</html>
